@import './base/variables.scss';
// inline code 
code{
  font-family: firamonoregular;
  color: $background;
  background: $text;
  font-size: .9rem;
}

.highlight{
  margin: 15px 0px;
  padding: 1rem 0px;
  overflow: auto;
  font-family: firamonoregular;
}
