// Portfolio Grid Styling

.filters{
    max-width: 1260px;
    margin: 2rem auto;
    padding: 0 1rem;
    button{
        color:$filter;
        background:$background;
        border: solid $filter 1px;
        border-radius: 10px;
        transition: all .25s;
        outline: none;
        // Should be set through js
        &:focus{
            color:$background;
            background: $filter;
            
        }
    }
}

.portfolio {
    -moz-column-width: 13em;
    -webkit-column-width: 13em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    max-width: 1260px;
    margin: 2rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
    // if portfolio items < 5 
    // max-height: 500px;
}

.portfolio_item {
    background-size: cover !important;
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    // Standard portfolio item height, specify in front-matter
    &.std {
        height: 250px;
    }
    // Poster portfolio item height, specify in front-matter
    &.poster {
        height: 386px;
    }
    a {
        display: block;
        position: relative;
        height: 100%;
        color: transparent;
        transition: all 0.3s;
        font-size: 36px;
        line-height: 45px;
        font-family: firamonobold;
        &:hover {
            color: white;
            background: $tile-hover;
        }
        // position link text
        span {
            position: absolute;;
            top: 1rem;
            left: 1rem;
            right: .5rem;
        }
    }
}
