/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html {
  height: 100%;
  font-size: 18px;
  font-family: robotoregular;
  line-height: 1.5rem;
  color: #484848;
  background: #F4F4F4; }

body {
  height: 100%; }

#wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden; }

h1 {
  font-family: firamonobold;
  font-size: 48px;
  line-height: 3rem; }

h2 {
  font-family: firamonobold;
  font-size: 36px; }

h3 {
  font-family: firamonobold;
  font-size: 24px; }

h4 {
  font-family: robotoregular; }

h5 {
  font-family: robotoregular; }

h6 {
  font-family: robotoregular;
  font-size: .75rem; }

p {
  font-family: robotoregular;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: .75rem; }

@font-face {
  font-family: 'firamonobold';
  src: url("../fonts/FiraMono-Bold.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'firamonoregular';
  src: url("../fonts/FiraMono-Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'firasansbold';
  src: url("../fonts/FiraSans-Bold.eot");
  src: url("../fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'firasanssemibold';
  src: url("../fonts/FiraSans-SemiBold.eot");
  src: url("../fonts/FiraSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-SemiBold.woff") format("woff"), url("../fonts/FiraSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'firasansmedium';
  src: url("../fonts/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Medium.woff") format("woff"), url("../fonts/FiraSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/Roboto-Italic-webfont.eot");
  src: url("../fonts/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic-webfont.woff") format("woff"), url("../fonts/Roboto-Italic-webfont.ttf") format("truetype"), url("../fonts/Roboto-Italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Utility Classes */
.padding {
  padding-bottom: 150px; }

.center-block {
  margin: auto;
  max-width: 750px;
  padding-left: 1rem;
  padding-right: 1rem; }

.page-title {
  margin-bottom: 2rem; }

.topmargin {
  margin-top: 2em; }

.push-right {
  margin-left: auto !important; }

header {
  padding: 50px 7% 50px 7%;
  height: 73px;
  display: flex; }
  header * {
    z-index: 9999; }
  header #logo {
    width: 73px;
    height: 64px;
    margin-top: 9px; }
    header #logo a {
      display: block;
      width: 100%;
      height: 100%;
      border: 0; }
  header .header_link {
    font-family: robotobold;
    font-size: 20px;
    align-self: flex-end;
    margin-left: 50px;
    border-bottom: 0;
    transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1); }
  header .header_link:hover {
    background: #01FFC7; }

@media all and (min-width: 0px) and (max-width: 873px) {
  header {
    max-width: 750px;
    margin: auto;
    padding: 50px 1rem; } }

footer {
  width: 100%;
  height: 108px;
  position: absolute;
  bottom: 0px; }
  footer nav {
    border-top: solid #D8D8D8 1px;
    width: 90%;
    max-width: 750px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center; }
    footer nav div {
      width: 33%;
      max-width: 180px;
      align-self: center;
      text-align: center; }

a {
  color: #484848; }

.link, .post a {
  border-bottom: 3px solid #01FFC7;
  color: inherit;
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1); }
  .link:hover, .post a:hover {
    background: #01FFC7; }

code {
  font-family: firamonoregular;
  color: #F4F4F4;
  background: #484848;
  font-size: .9rem; }

.highlight {
  margin: 15px 0px;
  padding: 1rem 0px;
  overflow: auto;
  font-family: firamonoregular; }

/* _home.scss */
.homepage header a {
  color: white; }

.homepage .bg-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: url("../img/home/monkeyflip@0.5x.jpg") 65% 90%;
  background-size: cover;
  display: flex; }

.homepage #blurb {
  color: white;
  align-self: center;
  padding-left: 7%; }

.homepage footer a {
  color: white; }

@media all and (max-width: 599px) {
  .home {
    background: url("../img/home/monkeyflip@0.2x.jpg") 65% 90%;
    background-size: cover; }
  #blurb h1 {
    font-size: 2rem;
    line-height: 3rem; } }

@media all and (min-width: 600px) and (max-width: 1000px) {
  #blurb h1 {
    font-size: 2.5rem;
    line-height: 3.75rem; } }

@media all and (min-width: 1001px) {
  #blurb h1 {
    font-size: 3.5rem;
    line-height: 5rem; } }

svg {
  padding-top: 1px; }

#logo
:hover .logo {
  animation: draw-logo 2.5s 1;
  transition: fill ease; }

#logo
:hover .circle {
  animation: draw-circle 2.5s 1; }

.logo {
  fill: #01FFC7;
  stroke: #01FFC7;
  stroke-width: 3px;
  stroke-dasharray: 3115px; }

@keyframes draw-logo {
  0% {
    stroke-dashoffset: 3115;
    fill: transparent; }
  50% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    fill: #01FFC7; } }

.circle {
  fill: #01FFC7;
  stroke-dasharray: 80px; }

@keyframes draw-circle {
  0% {
    fill: transparent; }
  50% {
    fill: transparent; }
  100% {
    fill: #01FFC7; } }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 50px; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

img.full {
  max-height: calc(100vh - 50px);
  max-width: 100%; }

img.browser {
  width: 100%;
  margin-top: 2em;
  box-shadow: 0px 10px 25px  #484848;
  border-radius: 10px; }

.sidebyside {
  display: flex; }

.filters {
  max-width: 1260px;
  margin: 2rem auto;
  padding: 0 1rem; }
  .filters button {
    color: #112c58;
    background: #F4F4F4;
    border: solid #112c58 1px;
    border-radius: 10px;
    transition: all .25s;
    outline: none; }
    .filters button:focus {
      color: #F4F4F4;
      background: #112c58; }

.portfolio {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  max-width: 1260px;
  margin: 2rem auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.portfolio_item {
  background-size: cover !important;
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%; }
  .portfolio_item.std {
    height: 250px; }
  .portfolio_item.poster {
    height: 386px; }
  .portfolio_item a {
    display: block;
    position: relative;
    height: 100%;
    color: transparent;
    transition: all 0.3s;
    font-size: 36px;
    line-height: 45px;
    font-family: firamonobold; }
    .portfolio_item a:hover {
      color: white;
      background: rgba(17, 44, 88, 0.8); }
    .portfolio_item a span {
      position: absolute;
      top: 1rem;
      left: 1rem;
      right: .5rem; }

.post-list {
  margin: auto; }
  .post-list .post {
    margin-bottom: 120px; }

.post-list h2 a {
  line-height: 50px; }

.readmore {
  font-size: 16px;
  font-family: firasansmedium; }

.post {
  max-width: 750px;
  width: 100%; }
  .post .date {
    margin-top: 14px;
    margin-bottom: 30px;
    color: #9B9B9B;
    font-size: 14px;
    font-family: firasansbold; }
  .post h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .post h3 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .post ul, .post ol {
    margin-bottom: .75rem;
    line-height: 1.5rem;
    margin-left: 1.5rem; }
    .post ul li, .post ol li {
      margin-top: 1rem; }
  .post ol {
    list-style: decimal; }
  .post ul {
    list-style: disc; }
